* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.logo-header {
  color: #fff;
  font-size: 2em;
  margin-left: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.logo-header img{
  width: 2vw;
}
.nav-item,
.nav-link {
  color: #fff;
  font-size: 20px;
  gap: 10px;
  margin-left: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  letter-spacing: 1px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}


.nav-item .nav-link:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: solid 1px #7a20b6;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-item:hover,
.nav-link:hover, 
.nav-item:focus,
.nav-link:focus, 
.nav-item:active,
.nav-link:active {
  color: #fff;
}


.nav-item .nav-link:hover:before, .nav-item .nav-link:focus:before, .nav-item .nav-link:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.btn-mobile {
  background-color: #aa21d7;
  border: #080609 solid 1px;
}

.container-header {
  background-color: #000;
  position: fixed;
  z-index: 3;
  max-width: 100%;
  overflow: hidden;
}

.container01 {
  background: linear-gradient(45deg, #000, #000, #000, #8227c7);
  overflow: hidden;
  height: 95vh;
}

.section-container {
  margin-top: 8em;
}

.section-container,
.title-job {
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #c72752, #b527cf);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.container02 {
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
  background-position: 90% 40%;
  background-repeat: no-repeat;
  background-color: #000;
}

.container02 img{
  position: absolute;
  top: 95%;
  left: 58%;
  width: 42%;
}
.contact-me .social1{
  width: 2.2vw;
  position: absolute;
  top: 95em;
  left: 20em;
}


.contact-me .social2{
  width: 2.2vw;
  position: absolute;
  top: 95em;
  left: 25em;
}

.contact-me .social3{
  width: 2.2vw;
  position: absolute;
  top: 95em;
  left: 30em;
}

.contact-me .social4{
  width: 2.2vw;
  position: absolute;
  top: 95em;
  left: 35em;
}

.contact-me .social5{
  width: 2.2vw;
  position: absolute;
  top: 95em;
  left: 40em;
}
.title-sobre {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 3em;
  color: #993ae1;
  letter-spacing: 1px;
}

.text-about {
  color: #c233f1;
  font-size: 2.1em;
  letter-spacing: 1px;
  margin-left: 4em;
  margin-top: 4em;
}

.subtext-about {
  font-size: 1.5em;
  font-weight: 400;
  width: 40em;
  margin-left: 6em;
  color: gray;
  letter-spacing: 2px;
  margin-top: 1em;
}

.container03 {
  width: 100%;
  height: 104vh;
  background-color: #000;
}

.title-skills {
  font-size: 2.8em;
  padding-top: 3em;
  color: #993ae1;
}


.container04 {
  max-width: 100%;
  overflow: hidden;
  min-height: 104vh;
  background-color: #000;
  border-left: solid 5px #000;
}

.text-services {
  font-size: 2.8em;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 3em;
  color: #993ae1;
  font-family: Arial, Helvetica, sans-serif;
}

.card-services {
  display: flex;
  justify-content: space-around;
  gap: 3em;
  padding-top: 12em;
  margin-top: 1em;
}

 .card {
  background-color: #161616;
  box-shadow: 10px 12px 20px rgba(0, 0, 0, 0.527);
  min-width: 40%;
  height: 26vh;
  color: #fff;
  transition: all 0.6s ease-in-out;
  border: solid 1px transparent;
 
}
.card-services .card:hover {
  color: #fff;
  cursor: cell;
  transform: scale(1.1);
  border: solid 1px  #8227c7;
}

.card-services .card-title {
  color: #aa21d7;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0.3em;
}

.text-service-card {
  margin-top: 1em;
  font-size: 1.1em;
}

.container05 {
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
}

.container5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 3em;
  gap: 10px;
}

.title-container-project {
  font-size: 2.5em;
  color: #993ae1;
  padding-top: 2.5em;
  font-weight: bold;
}

.card-2 {
  background-color: #221f29;
  border: transparent solid 1px;
  width: 20vw;
  height: 22vh;
  margin-top: 4em;
  margin-right: 5em;
  border-radius: 0.5em;
  transition: 0.5s ease-in-out;
}

.card-2:hover{
   background-color: #8227c7;;
   rotate: 10deg;
}
.card-2 h3 {
  color: #ffffff;
  border-bottom: solid 1px #aa21d759;
  padding: 10px;
}

.card-2 p {
  color: #fff;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  margin-left: 1em;
  margin-top: 1em;
}

.card-2 button a {
  color: #fff;
  text-decoration: none;
  background-color: #00000085;
  padding: 14px;
  border-radius: 3px;
  font-size: 17px;
  transition: 0.5s ease-in-out;
}
.card-2 button a:hover {
  background-color: transparent;
  border-bottom: 1px solid #8227c7;
}

.container06 {
  max-width: 100%;
  overflow: hidden;
  height: 24vh;
  background-color: #080609;
  padding: 2em;
}

.contact .email {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: end;
  font-family: sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
}

.contact .local {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: sans-serif;
  display: flex;
  justify-content: end;
  margin-top: 1em;
}

.contact .direitos {
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
}
.contact .direitos:hover {
  color: #8824bb;
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar {
  width: 14px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #c72752;
  border-radius: 2px;
}

.card-skill{
  background-color: #000;
  height: 20vh;
  color: #fff;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.card-skill:hover, .card-skill:focus, .card-skill:active{
  -webkit-transform: translateY(-10px);
  transform: translateY(-8px);

  
}
.card-skill img{
  height: 8vh;
  width: 5vw;
  display: flex;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.container-card-skill{
  display: flex;
  justify-content: center;
  margin-top: 12em;
  gap: 12em;

}

.citação{
  color: #fff;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7em;
}
.text-skill{
  font-size: 1.5em;
  margin-top: 1em;
}
#card-hidden{
  display: none;
  color: #fff;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
}

.backtotop{
  position: fixed;
  left: 95%;
  top: 90%;
}

.backtotop img{
  width: 3vw;
  height: 3vw;
}

@media (min-width: 1201px) and (max-width: 1980px) {
  .container-header .logo-header {
    font-size: 35px;
  }
  .navbar-nav .nav-item {
    font-size: 4px;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-right: 10em;
  }
  .container02 {
    max-width: 100%;
    height: 102vh;
  }
  .text-about {
    font-size: 2em;
    margin-left: 2.4em;
    margin-top: 3em;
  }
  .subtext-about {
    font-size: 1.3em;
    width: 48vw;
    margin-left: 4.8em;
    margin-top: 2em;
    line-height: 2.2em;
  }
  .title-sobre {
    /* margin-top: -1em; */
    font-size: 3.5em;
    margin-left: -1em;
  }
  .container03 {
    height: 120vh;
  }
  .title-skills {
    font-size: 3.5em;
    font-weight: bold;
    margin-top: -1em;
    /* margin-left: -5em; */
  }
  #accordionExample {
    width: 55vw;
    height: 35vh;
    font-size: 1em;
    margin-left: 28em;
  }
  .container04 {
    height: 90vh;
  }
  .card-services .card {
    margin-left: auto;
    margin-right: auto;
    min-width: 31%;
  }
  .text-services {
    font-size: 3.5em;
    /* margin-top: 1em; */
    margin-left: -1em
  }
  .card-services {
    display: flex;
    margin-right: auto;
    justify-content: center;
  }
  .card-services .card-title {
    font-size: 1.5em;
  }
  .card-services .text-service-card {
    font-size: 1em;
    letter-spacing: 1px;
    margin-top: 0.1em;
}

  .subtitle {
    font-size: 20px;
  }
  .container05 {
    height: 80vh;
  }
  .container5 {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    width: 70vw;
    /* height: 40vh; */
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

  .card-2 {
    margin-left: auto;
    margin-right: auto;
  }
  .title-container-project {
    font-size: 2.5em;
  }
  .card-2 .title-project {
    font-size: 28px;
  }
  .card-2 .text-project {
    font-size: 18px;
  }

  .email {
    margin-left: 13em;
  }
  .local {
    font-size: 10px;
    margin-left: -1em;
  }
  .section-container .title-job {
    font-size: 45px;
    width: 37vw;
    margin-top: -1em;
  }
  .section-container {
    margin-top: -3em;
    margin-left: 5em;
  }
  .container01 {
    height: 85vh;
    padding: 24em;
}

.social-media .direitos {
  font-size: 17px;
  display: flex;
  justify-items: start;
}
.btn {
  margin-left: 1em;
  padding: 5px;
  margin-top: 2em;
}

.navbar-expand-lg .navbar-nav .nav-link{
  font-size: 6em;
}
/* 
.navbar-expand-lg{
  padding: 2em;
} */

.container-header{
  height: 8vh;
}

.accordion-button{
  font-size: 39px;
  color: #040404;
}

.card-skill img {
  height: 10vh;
  width: 6vw;
}

.text-skill{
  font-size: 1.8rem;
  margin-top: 0.3em;
}

.citação{
  font-size: 2em;
  margin-top: 6em;
}
.backtotop {
  position: fixed;
  left: 86%;
  top: 90%;
}
.container02 img {
  position: absolute;
  top: 89%;
  left: 53%;
  width: 42%;
}
.container-card-skill{
  gap: 7em;
}
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .container-header .logo-header {
    font-size: 1.9em;
  }
  .logo-header img {
    width: 4vw;
}
  .container02 {
    height: 79vh;
  }
  .title-container-project {
    font-size: 2.3em;
    margin-top: 2em;
}
  
  .text-about {
    font-size: 1.8em;
    margin-left: 1em;
    margin-top: 1em;
    width: 59vw;
  }
  .subtext-about {
    font-size: 1.3em;
    width: 55vw;
    margin-left: 1em;
    margin-top: 1em;
  }
  .title-sobre {
    margin-top: 1em;
    font-size: 2.2em;
  }
  .container03 {
    height: 94vh;
  }
  .title-skills {
    font-size: 2.2em;
    padding-top: 5em;
  }
  .container04 {
    height: 92vh;
  }
  .card-services .card {
    height: 29vh;
    min-width: 27vw;
    margin-left: auto;
    margin-right: auto;
  }
  .text-services {
    font-size: 2.3em;
    margin-top: 2em;
  }
  .card-services {
    display: flex;
    justify-content: space-around;
    gap: 3em;
    padding-top: 1em;
    margin-top: 1em;
  }
  .card {
    margin-top: 2em;
  }
  .card-services .card-title {
    font-size: 18px;
    margin-top: 1em;
  }
  .card-services .text-service-card {
    font-size: 1em;
  }
  .container05 {
    height: 180vh;
  }
  .container5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3em;
    gap: 10px;
  }
  .card-2 {
    width: 27vw;
    height: 27vh;
    margin-left: auto;
    margin-right: auto;
  }
  .card-2 .title-project {
    font-size: 22px;
  }
  .card-2 .text-project {
    font-size: 18px;
  }

  .email {
    margin-left: 13em;
  }
  .local {
    font-size: 10px;
    margin-left: -1em;
  }
  .section-container .title-job {
    font-size: 1.7em;
    width: 80vw;
    text-align: center;
    margin-top: 10em;
    margin-left: auto;

  }
  .section-container {
    margin-top: 10em;
  }
  .container01 {
    height: 92vh;
  }
  .social-media .direitos {
    font-size: 15px;
  }
  .backtotop {
    position: fixed;
    left: 87%;
    top: 90%;
}
.container-card-skill{
  gap: 4em;
}

.container05 {
  height: 74vh;
}
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container-header .logo-header {
    font-size: 1.8em;
  }
  .logo-header img {
    width: 7vw;
}
  .container02 {
    max-width: 100%;
    height: 99vh;
  }
  .text-about {
    font-size: 25px;
    margin-left: 1em;
    margin-top: 2em;
  }
  .subtext-about {
    font-size: 1.5em;
    width: 90vw;
    margin-left: 1em;
    margin-top: 2em;
  }
  .title-sobre {
    margin-top: 1em;
    font-size: 2.3em;
  }
  .container03 {
    height: 70vh;
  }
  .title-skills {
    font-size: 2.2em;
    margin-top: -1em;
    padding-top: 7em;
  }

  .container04 {
    height: 165vh;
  }
  .card-services .card {
    height: auto;
    width: 68vw;
    margin-left: auto;
    margin-right: auto;
  }

  .text-services {
    font-size: 2.3em;
    /* margin-top: 16em; */
    padding-top: 7.1em;
  }
  .card-services {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    margin-top: 1em;
  }
  .card-services .card-title {
    font-size: 25px;
    margin-top: 1em;
  }
  .card-services .text-service-card {
    font-size: 22px;
  }
  .container05 {
    height: 100vh;
  }
  .container5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .card-2 {
    width: 63vw;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
  }
  .title-container-project {
    font-size: 2.5em;
  }
  .card-2 .title-project {
    font-size: 25px;
  }
  .card-2 .text-project {
    font-size: 18px;
  }
  .email {
    margin-left: 13em;
  }
  .local {
    font-size: 10px;
    margin-left: -1em;
  }
  .section-container .title-job {
    font-size: 1.3em;
    width: 80vw;
    margin-left: -1em;
    text-align: center;
    margin-top: -5em;
  }
  .section-container {
    margin-top: 11em;
  }
  .container01 {
    height: 86vh;
  }
  .social-media .direitos {
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn {
    margin-left: 1em;
    padding: 5px;
    margin-top: 2em;
  }
  .container-card-skill{
    display:flex;
    margin-top: 7em;
    gap: 2em;
  }
  .card-skill img{
    height: auto;
    width: 8vw;
    margin-top: 2em;
  }
  .container02 img {
    position: absolute;
    top: 130%;
    left: 18%;
    width: 61%;
}
.card-services{
  margin-top: -10em;
}
.backtotop img{
  width: 6vw;
  height: 6vw;
}
.backtotop {
  position: fixed;
  left: 90%;
  top: 90%;
}
}
@media (min-width: 481px) and (max-width: 768px) {
  .container-header .logo-header {
    font-size: 1.8em;
    margin-left: 0.1em;
  }
  .logo-header img{
    width: 7vw;
  }
  .container02 {
    max-width: 100%;
    height: 99vh;
  }

.nav-item, .nav-link{
  font-size: 1.2em;
}
  .text-about {
    font-size: 1.5em;
    margin-left: 1em;
    margin-top: 2em;
  }
  .subtext-about {
    font-size: 1.4em;
    width: 90vw;
    margin-left: 1em;
    margin-top: 2em;
  }
  .title-sobre {
    margin-top: 1em;
    font-size: 2.5em;
  }
  .container03 {
    height: 110vh;
  }
  .title-skills {
    font-size: 2.3em;
    padding-top: 5em;
  }
  .container04 {
    height: 139vh;
  }
  .card-services .card {
    height: 30vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .text-services {
    font-size: 2.4em;
    margin-top: 2em;
  }
  .card-services {
    display: block;
    padding-top: 1em;
  }
  .card-skill{
    height: 13vh;
  }
  .card {
    margin-top: 1em;
  }
  .card-services .card-title {
    font-size: 1.8em;
    margin-top: 1em;
  }
  .card-services .text-service-card {
    font-size: 1.2em;
  }
  .container05 {
    height: 116vh;
  }
  .container5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .card-2 {
    width: 75vw;
    height: 26vh;
    margin-left: auto;
    margin-right: auto;
  }
  .title-container-project {
    font-size: 2.5em;
  }
  .card-2 .title-project {
    font-size: 1.5em;
  }
  .card-2 .text-project {
    font-size: 1.3em;
  }
  .email {
    margin-left: 13em;
  }
  .local {
    font-size: 10px;
    margin-left: -1em;
  }
  .section-container .title-job {
    font-size: 1.3em;
    width: auto;
    text-align: center;
    margin-top: -5em;
  }
  .section-container {
    margin-top: 7em;
  }
  .container01 {
    height: 77vh;
  }
  .social-media .direitos {
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn {
    margin-left: 1em;
    padding: 5px;
    margin-top: 2em;
  }
  .container-card-skill{
    display: block;
  }

  .contact-me .social2{
    width: 7%;
    position: absolute;
    top: 121.3em;
    left: 2em;
  }
  

  .contact-me .social3{
    width: 9%;
    position: absolute;
    top: 120.6em;
    left: 9em;
}
  
  .contact-me .social4{
    width: 9%;
    position: absolute;
    top: 120.5em;
    left: 23em;
  }
  
  .contact-me .social5{
    width: 9%;
    position: absolute;
    top: 120.5em;
    left: 16em;
  }
  .backtotop {
    position: fixed;
    left: 77%;
    top: 92%;
}
  .backtotop img {
    width: 9vw;
    height: 9vw;
}
.container02 img {
  position: absolute;
  top: 134%;
  left: -2%;
  width: 89%;
}

.card-skill img{
  width: auto;
}
.container-card-skill{
  margin-top: 4em;
}
.citação{
  font-size: 1em;
}
.contact .direitos{
  font-size: 0.9em;
}
.contact .direitos {
  font-size: 1em;
  margin-top: 2em;
}
}

@media (min-width: 320px) and (max-width: 480px) {
  .container-header .logo-header {
    font-size: 1.8em;
    margin-left: 0.1em;
  }
  .logo-header img{
    width: 10vw;
  }
  .container02 {
    max-width: 100%;
    height: 112vh;
  }

.nav-item, .nav-link{
  font-size: 1em;
}
  .text-about {
    font-size: 1.5em;
    margin-left: 1em;
    margin-top: 2em;
  }
  .subtext-about {
    font-size: 1em;
    width: 90vw;
    margin-left: 1.4em;
    margin-top: 1em;
  }
  .title-sobre {
    margin-top: 10em;
    font-size: 30px;
  }
  .container03 {
    height: 110vh;
  }
  .title-skills {
    font-size: 27px;
    padding-top: 6em;
  }
  .container04 {
    height: 139vh;
  }
  .card-services .card {
    width: 72vw;
    margin-left: auto;
    margin-right: auto;
  }
  .text-services {
    font-size: 32px;
    margin-top: 2em;
  }
  .card-services {
    display: block;
    padding-top: 1em;
  }
  .card-skill{
    height: 13vh;
  }
  .card {
    margin-top: 1em;
  }
  .card-services .card-title {
    font-size: 1.1em;
    margin-top: 1em;
  }
  .card-services .text-service-card {
    font-size: 1em;
  }
  .container05 {
    height: 116vh;
  }
  .container5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .card-2 {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
  .title-container-project {
    font-size: 28px;
    padding-top: 2.9em;
  }
  .card-2 .title-project {
    font-size: 1.3em;
  }
  .card-2 .text-project {
    font-size: 18px;
  }
  .email {
    margin-left: 13em;
  }
  .local {
    font-size: 10px;
    margin-left: -1em;
  }
  .section-container .title-job {
    font-size: 1em;
    width: auto;
    text-align: center;
    margin-top: -5em;
  }
  .section-container {
    margin-top: 7em;
  }
  .container01 {
    height: 47vh;
  }
  .social-media .direitos {
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn {
    margin-left: 1em;
    padding: 5px;
    margin-top: 2em;
  }
  .container-card-skill{
    display: block;
  }

  .contact-me .social2{
    width: 11%;
    position: absolute;
    top: 88em;
    left: 2em;
  }
  

  .contact-me .social3{
    width: 11%;
    position: absolute;
    top: 88em;
    left: 6em;
  }

  

  .contact-me .social4{
    width: 11%;
    position: absolute;
    top: 88em;
    left: 14em;
  }
  
  .contact-me .social5{
    width: 11%;
    position: absolute;
    top: 88em;
    left: 10em;
  }
  .backtotop {
    position: fixed;
    left: 77%;
    top: 92%;
}
  .backtotop img {
    width: 13vw;
    height: 13vw;
}
.container02 img {
  position: absolute;
  top: 116%;
  left: 7%;
  width: 83%;
}

.card-skill img{
  width: 16vw;
}
.container-card-skill{
  margin-top: 4em;
}
.citação{
  font-size: 1em;
}
.contact .direitos{
  font-size: 0.9em;
}

}
