/* geral */
* {
  font-family: "Montserrat", sans-serif;
}
/* scroll */
html {
  scroll-behavior: smooth;
}
/* links */
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}

body {
  overflow-x: hidden;
}

/* texto destacado */
mark {
  color: #fff;
  background: none;
}

/* header - logo e nav */
.container-header {
  position: fixed;
  z-index: 3;
  max-width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out, background-color 0.3s;
  background-color: #11001c;
}
/* logo */
.logo-header {
  color: #fff;
  font-size: 2em;
  margin-left: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.logo-header img {
  width: 2vw;
}

/* barra de nav */
.nav-item,
.nav-link {
  color: #fff;
  font-size: 1.5rem;
  gap: 10px;
  margin-left: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  letter-spacing: 1px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* barra de nav - animation */

.nav-item .nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: solid 2px #b429f9;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-item:hover,
.nav-link:hover,
.nav-item:focus,
.nav-link:focus,
.nav-item:active,
.nav-link:active {
  color: #fff;
}

.nav-item .nav-link:hover:before,
.nav-item .nav-link:focus:before,
.nav-item .nav-link:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* mobile btn */
.btn-mobile {
  background-color: #aa21d7;
  border: #080609 solid 1px;
}

/* 1° container - job name */
.container01 {
  background: #11001c;
  overflow: hidden;
  height: 95vh;
}

/* seção do container com texto */
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

/* titles */
.section-container,
.title-job {
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #c72752, #b527cf);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

/*  2° container - about */
.container02 {
  max-width: 100%;
  overflow: hidden;
  height: 95vh;
  background-position: 90% 40%;
  background-repeat: no-repeat;
  background-color: #190028;
  padding-top: 10em;
}

/* imagem 2° container */
.container02 img {
  position: absolute;
  top: 100%;
  left: 60%;
  width: 35%;
}

/* div dos textos */
.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-top: 7em;
}
/* titulo */
.title-sobre {
  font-size: 2.8em;
  font-weight: bold;
  padding-top: 3em;
  color: #fff;
  letter-spacing: 1px;
}
/* sub-title */
.text-about {
  color: #d5c4f6;
  font-size: 2em;
  letter-spacing: 1px;
  display: flex;
  justify-content: start;
  margin-left: 4.4em;
}

/* sub-texto */
.subtext-about {
  font-size: 1.5em;
  font-weight: 400;
  width: 40em;
  margin-left: 6em;
  color: gray;
  letter-spacing: 2px;
  margin-top: 1em;
}

/* social media */
.social-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 5em;
  margin-left: 8em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}
.github {
  background-color: #333;
}

.github:hover {
  box-shadow: #300c4b 9px 3px 7px;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin:hover {
  box-shadow: #300c4b 9px 3px 7px;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}
.instagram:hover {
  box-shadow: #300c4b 9px 3px 7px;
}
.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}
/* 3°container - skill */
.container03 {
  width: 100%;
  height: 100vh;
  background-color: #11001c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* card skill */
.card1 {
  width: 50vw;
  background-color: #220135;
  box-shadow: 10px -1px 67px 3px rgba(125, 34, 125, 0.76);
  border-radius: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* header skill card */
.header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.6em;
  letter-spacing: 1px;
}

/* body card */
.card-body1 {
  padding: 20px;
}

/* div das skills */
.skills {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* name skill and level */
.skill-name {
  width: 10vw;
  font-size: 16px;
  color: #fff;
}
.skill-name:hover {
  color: #f9626c;
}
.skill-level {
  width: 15vw;
  height: 0.8em;
  background-color: #eeeeeeb9;
  border-radius: 1px;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 3px;
}

.skill-percent {
  background-color: #f9626c;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
}

/* 4°container - serviços */
.container04 {
  max-width: 100%;
  overflow: hidden;
  min-height: 95vh;
  background-color: #190028;
}

/* card-serviços */
.card-services {
  display: flex;
  justify-content: space-around;
  gap: 3em;
  padding-top: 18em;
  margin-top: 1.3em;
}

/* card com cada serviço */
.card2 {
  background-color: #11001c;
  box-shadow: 10px -1px 67px 3px rgba(64, 11, 64, 0.681);
  min-width: 20vw;
  height: 26vh;
  color: #fff;
  transition: all 0.6s ease-in-out;
  border: solid 1px transparent;
  border-radius: 8px;
  padding: 1em;
}

/* hover card */
.card-services .card2:hover {
  color: #fff;
  cursor: cell;
  transform: scale(1.1);
  border: solid 1px #ff0a54;
}

/* card - titulo */
.card-services .card-title {
  color: #ff0a54;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0.3em;
}
/* card textos */
.text-service-card {
  margin-top: 1em;
  font-size: 1.1em;
}
/* 5° container geral projetos  */
.container05 {
  max-width: 100%;
  overflow: hidden;
  height: 95vh;
  background-color: #11001c;
}

/* sub-container */
.container5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
  justify-content: end;
  align-items: center;
  justify-items: center;
}

/* card 2 - projetos */
.card-2 {
  background-color: #190028;
  width: 20vw;
  height: 25vh;
  margin-top: 4em;
  margin-right: 5em;
  border-radius: 0.5em;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  border: transparent solid 1px;
}

/* card projetos hover */

.card-2:hover {
  border: solid 1px #8227c7;
}
/* title card */
.card-2 h3 {
  color: #d7c8f3;
  padding: 10px;
  font-size: 1.5em;
}

/* texto card */
.card-2 p {
  color: #bdbdbd;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  margin-left: 1em;
  margin-top: 1em;
}

/* btn card projeto */
.card-2 button a {
  color: #fff;
  text-decoration: none;
  background-color: #00000085;
  padding: 14px;
  border-radius: 3px;
  font-size: 17px;
  transition: 0.5s ease-in-out;
}
.pyramid-loader {
  position: relative;
  width: 30vw;
  height: 30vh;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.piramide-loader .wrapper .side {
  width: 70px;
  height: 70px;
  background: radial-gradient(#f72585 10%, #45147e 70%, #b429f9 120%);
  position: absolute;
  top: 5em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.piramide-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient(#f72585, #b429f9, #d8cce6, #45147e);
}

.piramide-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient(#f72585, #b429f9, #d8cce6, #45147e);
}

.piramide-loader .wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient(#f72585, #b429f9, #d8cce6, #45147e);
}

.piramide-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient(#f72585, #b429f9, #d8cce6, #45147e);
}

.piramide-loader .wrapper .shadow {
  width: 60px;
  height: 60px;
  background: #470b59;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}
/* btn card btn hover */
.card-2 button a:hover {
  background-color: transparent;
  border-bottom: 1px solid #8227c7;
}

/* 6°container - direitos and email */
.container06 {
  max-width: 100%;
  overflow: hidden;
  height: 6vh;
  background-color: #0d0312;
}
.contact .direitos {
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  padding: 1em;
}

::-webkit-scrollbar-track {
  background-color: #11001c;
}

::-webkit-scrollbar {
  width: 14px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #cb5df1;
  border-radius: 2px;
}
/* scroll reveal */
.section-container,
.texts,
.card1,
.card-services,
.card-2,
.img-note {
  visibility: hidden;
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .logo-header {
    font-size: 1.8em;
    margin-left: 0.1em;
  }

  .logo-header img {
    width: 10vw;
  }

  .section-container,
  .title-job {
    font-size: 1.3em;
  }

  .container01 {
    height: 85vh;
  }
  .text-about {
    font-size: 1.3em;
    margin-top: -7em;
    margin-left: 2em;
  }

  .container02 img {
    display: none;
  }

  .texts {
    padding-top: -1em;
  }
  .subtext-about {
    font-size: 1.3em;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
  }
  .social-buttons {
    margin-left: 0.9em;
  }
  .card1 {
    width: 100%;
  }
  .skill-level {
    margin-left: 4em;
    width: 25vw;
  }

  .card-services {
    padding-top: 3em;
    display: block;
  }
  .card2 {
    margin-top: 1.2em;
  }
  .card-services .card-title {
    font-size: 1.4em;
  }
  .container05 {
    height: 210vh;
  }
  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .card-2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact .direitos {
    font-size: 13px;
  }

  .container-header {
    max-width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .logo-header {
    font-size: 1.8em;
    margin-left: 0.1em;
  }

  .logo-header img {
    width: 10vw;
  }

  .section-container,
  .title-job {
    font-size: 1.3em;
  }

  .container01 {
    height: 85vh;
  }
  .text-about {
    font-size: 1.3em;
    margin-top: -7em;
    margin-left: 2em;
  }

  .container02 img {
    display: none;
  }

  .texts {
    padding-top: -1em;
  }
  .subtext-about {
    font-size: 1.4em;
    width: 17em;
    margin-left: auto;
    margin-right: auto;
  }
  .social-buttons {
    margin-left: 0.9em;
  }
  .card1 {
    width: 100%;
  }
  .skill-level {
    margin-left: 4em;
    width: 25vw;
  }

  .card-services {
    padding-top: 3em;
    display: block;
  }
  .card2 {
    margin-top: 1.2em;
  }
  .card-services .card-title {
    font-size: 1.4em;
  }
  .container05 {
    height: 210vh;
  }
  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .card-2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact .direitos {
    font-size: 13px;
  }

  .container-header {
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .logo-header {
    font-size: 1.8em;
    margin-left: 0.1em;
  }

  .logo-header img {
    width: 5vw;
  }

  .nav-item,
  .nav-link {
    font-size: 1.4rem;
  }

  .section-container,
  .title-job {
    font-size: 1.6em;
  }

  .container01 {
    height: 85vh;
  }
  .container02 {
    padding-top: 16em;
  }
  .text-about {
    font-size: 1.9em;
    margin-top: -7em;
    margin-left: 2em;
  }

  .container02 img {
    display: none;
  }

  .texts {
    padding-top: -1em;
  }
  .subtext-about {
    font-size: 1.5em;
    width: 35em;
    margin-left: auto;
    margin-right: auto;
  }
  .social-buttons {
    margin-left: 2em;
  }
  .card1 {
    width: 83%;
  }
  .skill-level {
    margin-left: 4em;
    width: 25vw;
  }

  .card-services {
    padding-top: 3em;
    display: block;
  }
  .card2 {
    margin-top: 1.2em;
    margin-left: auto;
    width: 66%;
    margin-right: auto;
  }

  .card-services .card-title {
    font-size: 1.4em;
  }
  .container05 {
    height: 210vh;
  }
  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .card-2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact .direitos {
    font-size: 13px;
  }

  .container-header {
    max-width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .logo-header {
    font-size: 1.8em;
    margin-left: 0.1em;
  }

  .logo-header img {
    width: 4vw;
  }

  .nav-item,
  .nav-link {
    font-size: 1.4rem;
  }

  .section-container,
  .title-job {
    font-size: 1.3em;
  }

  .container01 {
    height: 85vh;
  }
  .text-about {
    font-size: 1.8em;
    margin-top: -7em;
    margin-left: 2em;
  }

  .container02 img {
    display: none;
  }

  .texts {
    padding-top: -1em;
  }
  .subtext-about {
    font-size: 1.8em;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
  }
  .social-buttons {
    margin-left: 3em;
  }
  .card1 {
    width: 80%;
  }
  .skill-level {
    margin-left: 4em;
    width: 25vw;
  }

  .card-services {
    padding-top: 3em;
    display: block;
  }
  .card2 {
    margin-top: 1.2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-services .card-title {
    font-size: 1.4em;
  }
  .container05 {
    height: 95vh;
  }
  .container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-around;
    justify-content: end;
    align-items: center;
    justify-items: center;
    row-gap: 1em;
  }
  .card-2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact .direitos {
    font-size: 13px;
  }

  .container-header {
    max-width: 100%;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  body {
    overflow-x: hidden;
  }

  .logo-header {
    font-size: 1.8em;
    margin-left: 0.1em;
  }

  .logo-header img {
    width: 3vw;
  }

  .section-container,
  .title-job {
    font-size: 1.7em;
  }

  .container01 {
    height: 96vh;
  }
  .text-about {
    font-size: 1.9em;
    margin-top: -6em;
    margin-left: 3.5em;
  }

  .container02 img {
    display: none;
  }

  .texts {
    padding-top: 12em;
  }
  .subtext-about {
    font-size: 1.7em;
    width: 41em;
    margin-left: auto;
    margin-right: auto;
  }
  .social-buttons {
    margin-left: 4.5em;
  }
  .card1 {
    width: 50%;
  }
  .skill-level {
    margin-left: 4em;
    width: 25vw;
  }
  .container04 {
    height: 98vh;
  }
  .card-services {
    display: flex;
    justify-content: space-around;
    padding-top: 11em;
    margin-top: 1.3em;
  }
  .card2 {
    margin-top: 1.2em;
    width: 100%;
    height: 30vh;
  }
  .card-services .card-title {
    font-size: 1.4em;
  }
  .container05 {
    height: 105vh;
  }
  .container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-around;
    justify-content: end;
    align-items: center;
    justify-items: center;
    padding-top: 1em;
  }
  .card-2 {
    width: 80%;
    height: 34vh;
    margin-left: auto;
    margin-right: auto;
  }
  .container06 {
    height: 8vh;
  }

  .contact .direitos {
    font-size: 1.2em;
  }

  .container-header {
    max-width: 100%;
  }
}

@media (min-width: 1501px) and (max-width: 1980px) {
  .container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-around;
    justify-content: end;
    align-items: center;
    justify-items: center;
    padding-top: 10em;
    margin-left: 9em;
  }
}
